<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. MatPlotLib

| Data Science Tools |
| --- |
| MongoDB |
| Apache SparkSQL |
| TensorFlow |

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [4]:
# This a simple arithmetic expression to mutiply then add integers. 
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60.
i = 200
hours = i / 60
print(hours)

3.3333333333333335

**Objectives:**
*Python
*Java
*Scala

<h2>Author<h2>

Shivesh-IN